In [153]:
!pip install Django

Requirement already satisfied: Django in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (4.1.3)

[notice] A new release of pip is available: 23.1 -> 23.1.2

Requirement already satisfied: asgiref<4,>=3.5.2 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from Django) (3.5.2)

[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlparse>=0.2.2 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from Django) (0.4.3)
Requirement already satisfied: tzdata in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from Django) (2023.3)

In [154]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (1.24.2)

[notice] A new release of pip is available: 23.1 -> 23.1.2

[notice] To update, run: python.exe -m pip install --upgrade pip

In [155]:
import os
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "e_library.settings")

'e_library.settings'

In [156]:
import django
django.setup()

In [157]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (2.0.0)

[notice] A new release of pip is available: 23.1 -> 23.1.2

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)

[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)

Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [158]:
from books.models import Pdf_Info, Review
from auth_users.models import Profile

import pandas as pd
import numpy as np

In [159]:
from asgiref.sync import sync_to_async

@sync_to_async
def get_books():
    return list(Pdf_Info.objects.all().values())

books = await get_books()
df_books = pd.DataFrame(books)
df_books.head(35)
# books = df_books.rename(columns={'id':'book_id'}, inplace = True)
# books

,id,genre_id,title,author,isbn,publisher,image,description,slug,published_year,book_pdf,is_premium
0,1,1,C Programming,Grege Perry and Dean Miller,qomxczekkyaob,KCT pvt Ltd,book_image/images.jpeg,The C Programming Language (2nd Edition) writt...,_C_Programming,2006,book/Cover_Letter_gb23EZr.pdf,False
1,2,2,Database Management Systems(A Practical Approach),Dr.Rajiv Chopra,ZDmqrBT1UVqSk,KCT pvt Ltd,book_image/1.jpeg,Database Management Systems (DBMS) is a must f...,Database_Management_Systems_A_Practical_Approach,,book/d1.pdf,False
2,3,2,Database Management System(IV Semester Compute...,"Safa Hamdare, Bhavesh Panday",pOorZOTWq54QU,KCT pvt Ltd,book_image/2.jpg,Database Management Systems (DBMS) is a must f...,Database_Management_System_IV_Semester_Compute...,2006,book/d2.pdf,False
3,4,2,Database Management System (Schaum's Outline),"Ramon A Mata-Toledo, Pauline K Cushman",1fT2cxJ0j3vtJ,KCT pvt Ltd,book_image/3.jpg,Database Management Systems (DBMS) is a must f...,Database_Management_System_Schaums_Outline,,book/d3.pdf,False
4,5,2,Database Management System(Ashirwad's),"Arihant Khicha, Neti Kapoor",mSxc9tDrBfZwS,#######,book_image/5.jpg,Database Management Systems (DBMS) is a must f...,Database_Management_System_Ashirwads,,book/d5.pdf,False
5,6,2,Database Management System(For Madras University),"Dr. R. Manjula Devi, V. Sicaranjani, M. Sangeetha",cKYkBKeNHFXOO,######,book_image/6.jpg,Database Management Systems (DBMS) is a must f...,Database_Management_System_For_Madras_University,,book/d6.pdf,False
6,7,2,Database Management System(DBMS),P. S. Gill,h7u5yOTJbYSEi,######,book_image/7.jpg,Database Management Systems (DBMS) is a must f...,Database_Management_System_DBMS,,book/d7.pdf,False
7,8,2,Database Management System,Iraka Chaudhary,xN3hOjjABb3Y3,#######,book_image/8.jpg,Database Management Systems (DBMS) is a must f...,Database_Management_System,,book/d8.pdf,False
8,9,2,Introduction to Database Management System,Atul Kahate,cC0xxwjT4qqCB,#######,book_image/10.jpg,Database Management Systems (DBMS) is a must f...,Introduction_to_Database_Management_System,,book/d10.pdf,False
9,10,1,C Programming An Introduction,R. Chopra,rljZ8Fo4hg3ub,#########,book_image/p1.jpeg,The C Programming Language (2nd Edition) writt...,C_Programming_An_Introduction,,book/a1.pdf,False
10,11,1,The C Programming Language,Brian Kernighan and Dennis Ritchie,5v1XaatHeJ83j,#######,book_image/p2.jpeg,Database Management Systems (DBMS) is a must f...,The_C_Programming_Language,,book/a2.pdf,False
11,12,1,Java Programming Language,Steve Tutor,O3UOfZ6Jp5bNV,#######,book_image/p3.jpeg,The C Programming Language (2nd Edition) writt...,Java_Programming_Language,,book/a6.pdf,False
12,13,1,Java Programming Beginner Guide,Mr. Kotiyana Publishing,FEWzVFDO9qcm1,#######,book_image/p4.jpeg,The C Programming Language (2nd Edition) writt...,Java_Programming_Beginner_Guide,,book/a8.pdf,False
13,14,1,Robort Programming (ROS),Jhon Methu/ Willam Disuja,CGnl9IdLRllv0,#######,book_image/p5.jpeg,The C Programming Language (2nd Edition) writt...,Robort_Programming_ROS,,book/a6_MWBWcfF.pdf,False
14,15,1,C Programming With Arduino,Mahesh A. Shah,P4pOBvEIoAZ9P,#######,book_image/p6.jpeg,The C Programming Language (2nd Edition) writt...,C_Programming_With_Arduino,,book/a12.pdf,False
15,16,3,Computer Networking Beginner Guide,Tim Wired,m2K0GRPE8KxSj,#########,book_image/15.jpeg,"In the field of communication, Computer Networ...",Computer_Networking_Beginner_Guide,2000,book/a6_tvdS7xd.pdf,False
16,17,3,Computer Networking,Pearson,FtRyEGg0OfE7P,#######,book_image/n1.jpeg,"In the field of communication, Computer Networ...",Computer_Networking,,book/a14.pdf,False
17,18,3,An Essential Guide to Computer Network,skarad C. Joshi,OWR8yUVg8DkPB,#######,book_image/n2.jpeg,"In the field of communication, Computer Networ...",An_Essential_Guide_to_Computer_Network,,book/a13.pdf,False
18,19,3,A Text Book of Computer Networks,Sanjay Sharma,mO7MihgZd3Z5z,######,book_image/n3.jpeg,"In the field of communication, Computer Networ...",A_Text_Book_of_Computer_Networks,,book/a19.pdf,False
19,20,3,Computer Networking (Top Down Approach),"Kurose, Ross",t00WGEEQ4NA6e,######,book_image/n8.jpeg,"In the field of communication, Computer Networ...",Computer_Networking_Top_Down_Approach,,book/a16.pdf,False
20,21,3,Data Communication and Computer Networks,Jhon Methu/ Willam Disuja,h10hUwneWvb0P,######,book_image/n10.jpeg,"In the field of communication, Computer Networ...",Data_Communication_and_Computer_Networks,,book/c4.pdf,False
21,22,3,"Computer Network (Principles, Technologies and...","Najalia Olfer, Victor Olifer",wXAm46h6PsRdC,#########,book_image/n11.jpeg,"In the field of communication, Computer Networ...",Computer_Network_Principles_Technologies_and_P...,,book/c2.pdf,False
22,23,3,Computer Networking Beginners Guide,Kevin Morgan,9IBmi8TqCfanQ,######,book_image/n13.jpeg,"In the field of communication, Computer Networ...",Computer_Networking_Beginners_Guide,,book/a15.pdf,False
23,24,3,Black Hat Python( Python Programming for Hacke...,Joseph Migga Kiza,USCsQvGbia5I5,#########,book_image/n15.jpeg,"In the field of communication, Computer Networ...",Black_Hat_Python_Python_Programming_for_Hacker...,,book/a19_irzy8OY.pdf,False
24,25,3,Computer Networks,"Andrew S. Tanenbaum, Nick Feamster",2yqWUmf46gVuy,######,book_image/n16.jpeg,"In the field of communication, Computer Networ...",Computer_Networks,,book/c13.pdf,False
25,26,3,Computer Networks and Internets,Douglas E. Comer,U0VcFEg87f8E7,######,book_image/n18.jpeg,"In the field of communication, Computer Networ...",Computer_Networks_and_Internets,,book/c3.pdf,False
26,27,3,Fundamentals of Computer Networks,"Matthew N. O. Sadika, Cajetan M. Akujuobi",E38oT4jU8elfV,#########,book_image/n20.jpeg,"In the field of communication, Computer Networ...",Fundamentals_of_Computer_Networks,,book/c2_ktWDa8Z.pdf,False
27,28,3,Advance Java Programming,"Hemant Oza, Ghanshyan Shah",Nz9248b4qMrvU,######,book_image/p16.png,This is the 3rd edition of a research monograp...,Advance_Java_Programming,,book/c4_wSgjSCJ.pdf,False
28,29,3,The Complete Reference,PHP,n39eWvo5q4dsc,#########,book_image/p20.jpeg,This is the 3rd edition of a research monograp...,The_Complete_Reference,,book/a19_s8GJQYU.pdf,False
29,30,1,Java Programming,Grege Perry and Dean Miller,cGIxu7T93Dg7H,#######,book_image/p18.jpeg,This is the 3rd edition of a research monograp...,Java_Programming,,book/c2_IviQduB.pdf,False
30,31,1,C Programming Language,Darrel S. Granam,2oQD2XF4Wya6u,#######,book_image/p17.jpeg,This is the 3rd edition of a research monograp...,C_Programming_Language,,book/a12_JMnwv2o.pdf,False
31,32,1,JavaScript Programming Language,John Devid N. Dlonaldo,ghS70fC9HW4D6,#########,book_image/p13.jpeg,This is the 3rd edition of a research monograp...,JavaScript_Programming_Language,,book/a15_OZXc4nf.pdf,False
32,33,1,C Programming Absolute Beginner's Guide,"Kurose, Ross",nPuCEwvxzT56R,######,book_image/p12.jpeg,This book is meant to help the reader learn ho...,C_Programming_Absolute_Beginners_Guide,,book/n3.pdf,False
33,34,1,The C++ Programming Language,Bjarne Stroustrup,XLHaXJX4XFSLG,The Creator of C++,book_image/p14.jpeg,This book is meant to help the reader learn ho...,The_OO_Programming_Language,,book/n1.pdf,False
34,35,1,Stunning CSS,Gilienwater,paBiU6AnkEXcY,KCT pvt Ltd,book_image/p15.jpeg,This course breaks down the fundamentals of CS...,Stunning_CSS,,book/n8.pdf,False

In [160]:
df_books['image'][1]

'book_image/1.jpeg'

In [161]:
from asgiref.sync import sync_to_async

@sync_to_async
def get_users():
    return list(Profile.objects.all().values())

users = await get_users()
df_users = pd.DataFrame(users)
df_users.head()

,id,user_id,avatar,city,zone,contact_no,tole,bio
0,1,1,profile_image/IMG_9832.JPG,Ramechhap,janakpur,4444444444,doramba,ksdlfjslkdjflks
1,2,2,profile_image/IMG_9829.JPG,Bhaktapur,Bagmati,5555555555,chamashying,dream big act bigger
2,3,3,default.png,,,,,
3,4,4,profile_image/images.jpeg,,,,,
4,5,5,default.png,,,,,

In [162]:
@sync_to_async
def get_reviews():
    return list(Review.objects.all().values())

reviews = await get_reviews()
df_reviews = pd.DataFrame(reviews)
df_reviews.head(30)

,id,book_id,rating,created_by_id,content,created_at,isbn
0,1,1,1,1,Poor Explanation,2023-04-21 07:52:42.216176+00:00,qomxczekkyaob
1,2,2,3,1,nice!!!!,2023-04-21 09:58:56.222078+00:00,ZDmqrBT1UVqSk
2,3,9,5,1,Excellent,2023-04-21 09:59:35.827144+00:00,cC0xxwjT4qqCB
3,4,10,4,1,Good book,2023-04-21 09:59:57.790780+00:00,rljZ8Fo4hg3ub
4,5,11,4,1,Excellent!!!!!!!,2023-04-21 10:00:15.205738+00:00,5v1XaatHeJ83j
5,6,12,2,1,Not Bad,2023-04-21 10:00:32.771575+00:00,O3UOfZ6Jp5bNV
6,7,13,3,1,not bad,2023-04-21 10:00:49.750186+00:00,FEWzVFDO9qcm1
7,8,14,2,1,poor,2023-04-21 10:01:00.523379+00:00,CGnl9IdLRllv0
8,9,15,3,1,Best book ever read!!!!!,2023-04-21 10:01:32.085948+00:00,P4pOBvEIoAZ9P
9,10,1,5,2,Excellent books!!!,2023-04-21 10:03:19.276618+00:00,qomxczekkyaob
10,11,2,5,2,excellent,2023-04-21 10:03:45.907398+00:00,ZDmqrBT1UVqSk
11,12,5,3,2,not bad,2023-04-21 10:04:01.620912+00:00,mSxc9tDrBfZwS
12,13,7,2,2,Quite not good,2023-04-21 10:04:29.054992+00:00,h7u5yOTJbYSEi
13,14,9,3,2,nice one,2023-04-21 10:04:50.549564+00:00,cC0xxwjT4qqCB
14,15,10,5,2,excellent\r\n,2023-04-21 10:05:12.028742+00:00,rljZ8Fo4hg3ub
15,16,11,3,2,i think this book is good,2023-04-21 10:05:36.295807+00:00,5v1XaatHeJ83j
16,17,12,3,2,not bad,2023-04-21 10:05:51.554000+00:00,O3UOfZ6Jp5bNV
17,18,13,5,2,best book ever,2023-04-21 10:06:04.006155+00:00,FEWzVFDO9qcm1
18,19,14,3,2,tough expalnation,2023-04-21 10:06:28.047083+00:00,CGnl9IdLRllv0
19,20,15,5,2,best book for beginner,2023-04-21 10:06:48.409206+00:00,P4pOBvEIoAZ9P
20,21,1,3,3,not bad,2023-04-21 10:09:13.812996+00:00,qomxczekkyaob
21,22,2,3,3,good,2023-04-21 10:09:31.748230+00:00,ZDmqrBT1UVqSk
22,23,3,3,3,not bad\r\n,2023-04-21 10:10:02.068452+00:00,pOorZOTWq54QU
23,24,6,3,3,good,2023-04-21 10:10:12.701562+00:00,cKYkBKeNHFXOO
24,25,8,5,3,excellent book for beginners,2023-04-21 10:10:35.472160+00:00,xN3hOjjABb3Y3
25,26,9,4,3,pure beginner book,2023-04-21 10:11:01.847424+00:00,cC0xxwjT4qqCB
26,27,10,2,3,poor explanation,2023-04-21 10:11:19.543335+00:00,rljZ8Fo4hg3ub
27,28,11,2,3,poor,2023-04-21 10:11:45.467678+00:00,5v1XaatHeJ83j
28,29,12,5,3,best book ever,2023-04-21 10:12:02.423181+00:00,O3UOfZ6Jp5bNV
29,30,13,4,3,nice one,2023-04-21 10:12:24.828019+00:00,FEWzVFDO9qcm1

In [163]:
#To check rows and columns in the database
print(df_books.shape)
print(df_reviews.shape)
print(df_users.shape)

(39, 12)
(173, 7)
(12, 8)

In [164]:
# TO Check Missing Values
# df_books.isnull().sum()

In [165]:
# df_users.isnull().sum()

In [166]:
# df_books.duplicated().sum

In [167]:
# df_reviews.duplicated().sum()

In [168]:
# df_users.duplicated().sum()

# Popularity based Recommendation System

In [169]:
ratings_with_name = df_reviews.merge(df_books, on = 'isbn')
# ratings_with_name

In [170]:

num_rating_df = ratings_with_name.groupby('title').count()[['rating']].reset_index()
num_rating_df.rename(columns={'rating':'num_ratings'}, inplace = True)
num_rating_df.head()

                                               title  num_ratings
0                   A Text Book of Computer Networks            5
1                           Advance Java Programming            3
2             An Essential Guide to Computer Network            2
3  Black Hat Python( Python Programming for Hacke...            6
4                                      C Programming            6

In [171]:
#Average Rating
# avg_rating_df = ratings_with_name.groupby('title').mean()['rating'].reset_index()
# avg_rating_df.rename(columns={'rating':'avg_rating'}, inplace = True)
# avg_rating_df 
# Convert 'rating' column to numeric
ratings_with_name['rating'] = pd.to_numeric(ratings_with_name['rating'], errors='coerce')

# Average Rating
avg_rating_df = ratings_with_name.groupby('title')['rating'].mean().reset_index()
avg_rating_df.rename(columns={'rating':'avg_rating'}, inplace=True)

In [172]:
#merge average rating and number rating
popular_df = num_rating_df.merge(avg_rating_df, on = 'title')
popular_df.head()

                                               title  num_ratings  avg_rating
0                   A Text Book of Computer Networks            5    3.400000
1                           Advance Java Programming            3    4.000000
2             An Essential Guide to Computer Network            2    3.000000
3  Black Hat Python( Python Programming for Hacke...            6    2.833333
4                                      C Programming            6    2.833333

In [173]:
#shows popular book whose num rating>3
popular_df = popular_df[popular_df['num_ratings'] >=2].sort_values('avg_rating',ascending =False).head(5)
# popular_df

In [174]:
popular_df.merge(df_books, on='title')

,title,num_ratings,avg_rating,id,genre_id,author,isbn,publisher,image,description,slug,published_year,book_pdf,is_premium
0,Database Management System,3,4.333333,8,2,Iraka Chaudhary,xN3hOjjABb3Y3,#######,book_image/8.jpg,Database Management Systems (DBMS) is a must f...,Database_Management_System,,book/d8.pdf,False
1,abc,10,4.200000,38,1,rukesh,awswsawsawsae,janak publication,book_image/IMG_9652.JPG,ffoafla oi af owaf oafho af,abc,,book/Suman-Tamang-cv.pdf,False
2,Java Programming Beginner Guide,6,4.166667,13,1,Mr. Kotiyana Publishing,FEWzVFDO9qcm1,#######,book_image/p4.jpeg,The C Programming Language (2nd Edition) writt...,Java_Programming_Beginner_Guide,,book/a8.pdf,False
3,Introduction to Database Management System,7,4.142857,9,2,Atul Kahate,cC0xxwjT4qqCB,#######,book_image/10.jpg,Database Management Systems (DBMS) is a must f...,Introduction_to_Database_Management_System,,book/d10.pdf,False
4,Data Communication and Computer Networks,3,4.000000,21,3,Jhon Methu/ Willam Disuja,h10hUwneWvb0P,######,book_image/n10.jpeg,"In the field of communication, Computer Networ...",Data_Communication_and_Computer_Networks,,book/c4.pdf,False

In [175]:
popular_df = popular_df.merge(df_books, on='title').drop_duplicates('title')[['title', 'image', 'author', 'num_ratings', 'avg_rating']]

In [176]:
# popular_df.head()
popular_df['image'][0]

'book_image/8.jpg'

In [177]:
popular_df.head()

,title,image,author,num_ratings,avg_rating
0,Database Management System,book_image/8.jpg,Iraka Chaudhary,3,4.333333
1,abc,book_image/IMG_9652.JPG,rukesh,10,4.200000
2,Java Programming Beginner Guide,book_image/p4.jpeg,Mr. Kotiyana Publishing,6,4.166667
3,Introduction to Database Management System,book_image/10.jpg,Atul Kahate,7,4.142857
4,Data Communication and Computer Networks,book_image/n10.jpeg,Jhon Methu/ Willam Disuja,3,4.000000

## Collaborative Filtering

In [178]:
# ratings_with_name.groupby('created_by_id').count()['rating'] > 10

In [179]:
# ratings_with_name.head()
# coll_fil = pd.DataFrame(ratings_with_name)
# coll_fil

In [180]:
#those users who have rated more than 5 books
x = ratings_with_name.groupby('created_by_id').count()['rating'] >= 5
read_users = x[x].index
read_users

Index([1, 2, 3, 4, 5, 6, 8, 9, 10, 13], dtype='int64', name='created_by_id')

In [181]:
#filtered on the basis of rating
filtered_rating = ratings_with_name[ratings_with_name['created_by_id'].isin(read_users)]
# filtered_rating

In [182]:
#those books that have at least 3 number of rating
y = filtered_rating.groupby('title').count()['rating'] >= 3
famous_books = y[y].index
# famous_books

In [183]:
final_ratings = filtered_rating[filtered_rating['title'].isin(famous_books)]
# final_ratings.drop_duplicates()

In [184]:
# pt = final_ratings.pivot_table(index = 'created_by_id', columns = 'title', values = 'rating')
pt = final_ratings.pivot_table(index = 'title', columns = 'created_by_id', values = 'rating')

# final_ratings.to_frame().reset_index().pivot_table(index='title')

In [185]:
pt.fillna(0, inplace = True)

In [186]:
pt

created_by_id,1,2,3,4,5,6,8,9,10,13
title,,,,,,,,,,
A Text Book of Computer Networks,0.0,0.0,0.0,0.0,3.0,3.0,5.0,3.0,0.0,3.0
Advance Java Programming,0.0,0.0,0.0,4.0,0.0,0.0,0.0,5.0,3.0,0.0
Black Hat Python( Python Programming for Hackers and Pentesters),2.0,0.0,0.0,0.0,3.0,3.0,0.0,3.0,3.0,3.0
C Programming,1.0,5.0,3.0,4.0,1.0,0.0,0.0,3.0,0.0,0.0
C Programming An Introduction,4.0,5.0,2.0,3.0,5.0,3.0,1.0,0.0,0.0,0.0
C Programming With Arduino,3.0,5.0,4.0,2.0,3.0,3.0,0.0,0.0,3.0,0.0
"Computer Network (Principles, Technologies and Protocols for Network Design)",0.0,4.0,0.0,0.0,3.0,0.0,0.0,4.0,3.0,0.0
Computer Networking,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,3.0
Computer Networking (Top Down Approach),0.0,5.0,0.0,4.0,3.0,0.0,3.0,0.0,0.0,3.0
Computer Networking Beginner Guide,2.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,3.0
Computer Networking Beginners Guide,0.0,2.0,0.0,4.0,0.0,4.0,0.0,3.0,3.0,3.0
Computer Networks,0.0,4.0,0.0,0.0,3.0,3.0,2.0,4.0,0.0,3.0
Data Communication and Computer Networks,0.0,0.0,0.0,5.0,0.0,4.0,0.0,3.0,0.0,0.0
Database Management System,0.0,0.0,5.0,0.0,0.0,3.0,0.0,5.0,0.0,0.0
Database Management System(DBMS),0.0,2.0,0.0,0.0,1.0,3.0,0.0,3.0,0.0,0.0
Database Management System(For Madras University),0.0,0.0,3.0,5.0,2.0,3.0,0.0,4.0,0.0,0.0
Database Management System(IV Semester Computer Engineering),0.0,0.0,3.0,5.0,4.0,3.0,4.0,3.0,0.0,0.0
Database Management Systems(A Practical Approach),3.0,5.0,3.0,3.0,4.0,4.0,3.0,0.0,0.0,0.0
English,5.0,3.0,0.0,3.0,3.0,4.0,3.0,4.0,0.0,4.0
Fundamentals of Computer Networks,0.0,0.0,0.0,0.0,3.0,5.0,0.0,4.0,3.0,3.0
Introduction to Database Management System,5.0,3.0,4.0,4.0,5.0,3.0,5.0,0.0,0.0,0.0
Java Programming,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3.0,0.0,3.0
Java Programming Beginner Guide,3.0,5.0,4.0,5.0,5.0,3.0,0.0,0.0,0.0,0.0
Java Programming Language,2.0,3.0,5.0,3.0,5.0,0.0,0.0,3.0,0.0,0.0
JavaScript Programming Language,4.0,4.0,0.0,3.0,0.0,0.0,4.0,5.0,3.0,0.0
Robort Programming (ROS),2.0,3.0,5.0,5.0,3.0,4.0,0.0,5.0,4.0,0.0
The C Programming Language,4.0,3.0,2.0,4.0,3.0,3.0,0.0,3.0,0.0,0.0
The Complete Reference,3.0,0.0,0.0,4.0,0.0,0.0,0.0,5.0,3.0,3.0
abc,3.0,5.0,3.0,3.0,5.0,4.0,4.0,5.0,5.0,5.0

In [187]:
from sklearn.metrics.pairwise import cosine_similarity

In [188]:
similarity_scores = cosine_similarity(pt)

In [189]:
similarity_scores[0]

array([1.        , 0.27160724, 0.65847538, 0.19672131, 0.39358458,
       0.25607376, 0.38025013, 0.65514131, 0.51238283, 0.88970168,
       0.48393392, 0.7904254 , 0.38025013, 0.40005557, 0.56064823,
       0.43554053, 0.69849845, 0.51779543, 0.73582253, 0.69870386,
       0.56114637, 0.83959397, 0.29432901, 0.34143168, 0.46976692,
       0.40582867, 0.40741086, 0.37264206, 0.72680331])

In [190]:
similarity_scores.shape

(29, 29)

In [191]:
#suggest five books
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = df_books[df_books['title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('title')['title'].values))
        item.extend(list(temp_df.drop_duplicates('title')['author'].values))
        item.extend(list(temp_df.drop_duplicates('title')['image'].values))
        
        data.append(item)
    
    return data

In [192]:
# sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1],reverse=True)

In [193]:
recommend('Java Programming Beginner Guide')

[['C Programming An Introduction', 'R. Chopra', 'book_image/p1.jpeg'],
 ['Database Management Systems(A Practical Approach)',
  'Dr.Rajiv Chopra',
  'book_image/1.jpeg'],
 ['C Programming With Arduino', 'Mahesh A. Shah', 'book_image/p6.jpeg'],
 ['The C Programming Language',
  'Brian Kernighan  and Dennis Ritchie',
  'book_image/p2.jpeg']]

In [194]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [195]:
# df_books.drop_duplicates('title')

In [196]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(df_books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))

In [197]:
## Check accuracy using Root Mean Square Error(RMSE)

In [198]:
filtered_rating = ratings_with_name[ratings_with_name['created_by_id'].isin(read_users)]

In [199]:
final_ratings = filtered_rating[filtered_rating['title'].isin(famous_books)]

In [200]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(final_ratings, test_size=0.2)
pt_train = train_data.pivot_table(index='title', columns='created_by_id', values='rating')
pt_train.fillna(0, inplace=True)
similarity_scores_train = cosine_similarity(pt_train)

In [201]:
def predict_rating(book_name, user_id):
    # index fetch
    index = np.where(pt_train.index == book_name)[0][0]
    user_index = np.where(pt_train.columns == user_id)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores_train[index])), key=lambda x: x[1], reverse=True)[1:5]
    numerator = 0
    denominator = 0
    for i in similar_items:
        numerator += similarity_scores_train[index][i[0]] * pt_train.iloc[i[0], user_index]
        denominator += similarity_scores_train[index][i[0]]
    if denominator != 0:
        predicted_rating = numerator / denominator
    else:
        predicted_rating = 0
    return predicted_rating

test_data['predicted_rating'] = test_data.apply(lambda row: predict_rating(row['title'], row['created_by_id']), axis=1)

In [202]:
from sklearn.metrics import mean_squared_error
import math

rmse = math.sqrt(mean_squared_error(test_data['rating'], test_data['predicted_rating']))
print('RMSE:', rmse)

RMSE: 2.6330580809117055